<table class="table table-zebra table-xs whitespace-nowrap rounded w-full">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Size</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if let Some(parent) = directory.parent %}
      <tr class="opacity-50">
        <th>
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M240,192a8,8,0,0,1-8,8H88a8,8,0,0,1-8-8V67.31L45.66,101.66A8,8,0,0,1,34.34,90.34l48-48a8,8,0,0,1,11.32,0l48,48a8,8,0,0,1-11.32,11.32L96,67.31V184H232A8,8,0,0,1,240,192Z"></path></svg>
        </th>
        <td class="w-full">
          {% let url = parent.url.view.as_ref().expect("parent has no view URL") %}
          <a href="{{ url }}" class="link link-hover w-full block">
            ..
          </a>
        </td>
      </tr>
    {% endif %}
    {% for entry in directory.children %}
      <tr class="rounded">
        <th>
          {% match entry.kind %}
            {% when EntryKind::File %}
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"></path></svg>
            {% when EntryKind::Directory %}
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M216,72H131.31L104,44.69A15.88,15.88,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.41,15.41,0,0,0,39.39,216h177.5A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40Z"></path></svg>
          {% endmatch %}
        </th>
        <td class="w-full overflow-hidden text-ellipsis max-w-0">
          {% if let Some(url) = entry.url.view %}
            <a
              href="{{ url }}"
              class="link link-hover block"
            >
              {{ entry.name() }}
            </a>
          {% else %}
            {{ entry.name() }}
          {% endif %}
        </td>
        <td class="font-mono text-right">
          {% match entry.kind %}
            {% when EntryKind::File %}
              {{ entry.size|humanbytes }}
            {% when EntryKind::Directory %}
              <span class="opacity-25">–</span>
          {% endmatch %}
        </td>
        <td>
          <div class="join">
            <a href="{{ entry.url.restore }}" class="btn btn-xs btn-ghost join-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M224,144v64a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V144a8,8,0,0,1,16,0v56H208V144a8,8,0,0,1,16,0Zm-101.66,5.66a8,8,0,0,0,11.32,0l40-40a8,8,0,0,0-11.32-11.32L136,124.69V32a8,8,0,0,0-16,0v92.69L93.66,98.34a8,8,0,0,0-11.32,11.32Z"></path></svg>
            </a>
            <a href="{{ entry.url.share }}" class="btn btn-xs btn-ghost join-item" hx-get="{{ entry.url.share }}" hx-target="#modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M165.66,90.34a8,8,0,0,1,0,11.32l-64,64a8,8,0,0,1-11.32-11.32l64-64A8,8,0,0,1,165.66,90.34ZM215.6,40.4a56,56,0,0,0-79.2,0L106.34,70.45a8,8,0,0,0,11.32,11.32l30.06-30a40,40,0,0,1,56.57,56.56l-30.07,30.06a8,8,0,0,0,11.31,11.32L215.6,119.6a56,56,0,0,0,0-79.2ZM138.34,174.22l-30.06,30.06a40,40,0,1,1-56.56-56.57l30.05-30.05a8,8,0,0,0-11.32-11.32L40.4,136.4a56,56,0,0,0,79.2,79.2l30.06-30.07a8,8,0,0,0-11.32-11.31Z"></path></svg>
            </a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" scope="row" class="font-normal text-xs text-center opacity-50 pt-4 pb-8">{{ directory.summary() }}</td>
    </tr>
  </tfoot>
</table>