<li>
    {% if !open %}
    <a class="marker" href="{{ location }}" hx-get="{{ location }}" hx-swap="outerHTML" hx-target="closest li" hx-push-url="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M216,72H131.31L104,44.69A15.88,15.88,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.41,15.41,0,0,0,39.39,216h177.5A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40Z"></path></svg>
        <span>{{ name }}</span>
        <span class="loading loading-ring loading-xs justify-self-end"></span>
    </a>
    {% else if open && children.is_empty() %}
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M216,72H131.31L104,44.69A15.88,15.88,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.41,15.41,0,0,0,39.39,216h177.5A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40Z"></path></svg>
            <span>{{ name }}</span>
        </div>
    {% else %}
    <details open>
        <summary>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256"><path d="M216,72H131.31L104,44.69A15.88,15.88,0,0,0,92.69,40H40A16,16,0,0,0,24,56V200.62A15.41,15.41,0,0,0,39.39,216h177.5A15.13,15.13,0,0,0,232,200.89V88A16,16,0,0,0,216,72ZM40,56H92.69l16,16H40Z"></path></svg>
            <span>{{ name }}</span>
        </summary>
        <ul>
            {% for child in children %}
                {% match child %}
                    {% when DirectoryTreeEntry::File with (file) %}
                        {{ file.render().unwrap()|safe }}
                    {% when DirectoryTreeEntry::Directory with (directory) %}
                        {{ directory.render().unwrap()|safe }}
                {% endmatch %}
            {% endfor %}
        </ul>
    </details>
    {% endif %}
</li>
