[Unit]
Description=Restic DL server
After=syslog.target
After=network.target
After=restic-dl.socket
Requires=restic-dl.socket
RequiresMountsFor=<INSERT-YOUR-BACKUP-MOUNT-POINT>

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/local/bin/restic-dl server <INSERT-YOUR-RESTORE-LOCATION>
Restart=always
RestartSec=5
EnvironmentFile=/etc/restic-dl.env.conf
ReadWritePaths=<INSERT-YOUR-RESTORE-LOCATION>
ReadOnlyPaths=<INSERT-YOUR-BACKUPS-FOLDER>
UMask=027
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=yes
PrivateNetwork=yes
PrivateTmp=yes
PrivateDevices=true
PrivateUsers=true
ProtectSystem=strict
ProtectHome=yes
ProtectClock=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectHostname=true
RemoveIPC=true
RestrictNamespaces=true
RestrictAddressFamilies=none
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target