<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{{ Self::title(self) }} – ResticDL{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

  <script defer src="/assets/js/htmx.js"></script>
  <script defer src="/assets/js/htmx-sse.js"></script>

  {% block head %}{% endblock %}
</head>

<body class="{% block bodyClasses %}{% endblock %}">
  {% block header %}{% endblock %}

  <main class="max-w-4xl w-full px-4 mx-auto flex flex-col justify-center items-center">
    {% block content %}{% endblock %}
  </main>

  <div id="modal"></div>
</body>

</html>
